<div class="field">
	<label class="label">Tags</label>
	<div class="control">
		<input class="input tags-input"
               type="text"
               data-item-text="name"
               data-item-value="id"
               data-case-sensitive="false"
               placeholder="Tags"
               value="">
	</div>
</div>
