<div id="blob-list" class="blob-list">
  {% for blob in blobs %}
    {% include 'components/blobs/blob_item.html.j2' %}
  {% else %}
    <div class="notification is-info">
      No blobs found. Upload some files to get started.
    </div>
  {% endfor %}
</div>
