
// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Atkinson Hyperlegible Next", sans-serif',
  $primary: #5FA,
  //$primary: iv.$turquoise !default,

  //$info: iv.$cyan !default,
  //$success: iv.$green !default,
  //$warning: iv.$yellow !default,
  //$danger: iv.$red !default,
  //$light: iv.$white-ter !default,
  //$dark: iv.$grey-darker !default,
  //// Link colors
  $link: #209CEE,
  //$link: iv.$blue !default,
);


// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  // Shadow variables - changing to sharp, offset shadows
  --bulma-shadow-h: 0;        // hue
  --bulma-shadow-s: 0%;       // saturation
  --bulma-shadow-l: 0%;       // lightness

  // Override the shadow property with a brutalist box shadow
  --bulma-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1), 0 0 0 2px rgba(0, 0, 0, 1);

  // Border radius - removing all rounded corners
  --bulma-radius: 0;
  --bulma-radius-small: 0;
  --bulma-radius-large: 0;

}

html, body {
    height: 100%;
}

.dashboard-container {
    min-height: 100vh;
}

.main-content {
    height: calc(100vh - 52px); /* Subtract navbar height */
    overflow: hidden;
}

.sidebar {
    border-right: 1px solid sass.$black;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-navigation {
    overflow-y: auto;
    padding-right: 0.5rem;
}

.sidebar-settings {
    margin-top: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}


.column.section {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 0;
}

.is-flex.is-flex-direction-column {
    height: 100%;
}
