
// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Atkinson Hyperlegible Next", sans-serif',
  $primary: #5FA,
  //$primary: iv.$turquoise !default,

  //$info: iv.$cyan !default,
  //$success: iv.$green !default,
  //$warning: iv.$yellow !default,
  //$danger: iv.$red !default,
  //$light: iv.$white-ter !default,
  //$dark: iv.$grey-darker !default,
  //// Link colors
  $link: #209CEE,
  //$link: iv.$blue !default,
);

@use 'highlight.js/styles/atom-one-dark.min.css';

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  // Shadow variables - changing to sharp, offset shadows
  --bulma-shadow-h: 0;        // hue
  --bulma-shadow-s: 0%;       // saturation
  --bulma-shadow-l: 0%;       // lightness

  // Override the shadow property with a brutalist box shadow
  --bulma-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1), 0 0 0 2px rgba(0, 0, 0, 1);

  // Border radius - removing all rounded corners
  --bulma-radius: 0;
  --bulma-radius-small: 0;
  --bulma-radius-large: 0;

}

html, body {
    height: 100%;
}

#main-content {
  height: calc(100vh - 60px); /* Subtract navbar height */
  overflow: hidden;
}

#dashboard-top {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 60px; /* Add padding to account for the sticky form */
    display: flex;
    flex-direction: column;
}

#sidebar {
    border-right: 1px solid sass.$black;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#dashboard {
    height: 100%;
    overflow: hidden;
}

#dashboard-dock {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

#sidebar-navigation {
    overflow-y: auto;
    padding-right: 0.5rem;
}


