<div class="dropdown" id="root-selector-dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="root-dropdown-menu">
      <span>
        {% if selected_root %}
          {% if selected_root|length == 1 %}
            {% set root_uri, root_data = selected_root.popitem() %}
            <span class="icon"><i class="fas fa-folder-open"></i></span>
            <span>{{ root_data.name or root_uri }}</span>
            {% set selected_root = {root_uri: root_data} %}
          {% else %}
            <span class="icon"><i class="fas fa-folder-open"></i></span>
            <span>{{ selected_root|length }} Roots Selected</span>
          {% endif %}
        {% else %}
          <span class="icon"><i class="fas fa-folder"></i></span>
          <span>Select Root</span>
        {% endif %}
      </span>
      <span class="icon ml-2"><i class="fas fa-chevron-down"></i></span>
    </button>
  </div>
  <div class="dropdown-menu" id="root-dropdown-menu" role="menu">
    <div class="dropdown-content">
      {% if roots %}
        {% for root in roots %}
          <div class="dropdown-item grid">
          <a hx-vals='{"root_uri": "{{ root.uri }}"}'
             hx-post="/root/select"
             hx-ext="form-json"
             hx-target="closest .dropdown">
            <span class="icon"><i class="fas fa-folder"></i></span>
            <span>{{ root.name or root.uri }}</span>
          </a>
          <a hx-get="/root?root_uri={{ root.uri | quote_plus }}"
             hx-target=".dashboard"
             hx-push-url="true">
            <span class="icon has-text-info"><i class="fas fa-eye"></i></span>
          </a>
          </div>

        {% endfor %}
      {% else %}
        <div class="dropdown-item">No roots available</div>
      {% endif %}
      <hr class="dropdown-divider" />
      <a class="dropdown-item"
         hx-get="/components/root-selector/new"
         hx-target="closest .dropdown">
        <span class="icon has-text-success"><i class="fas fa-plus"></i></span>
        <span>Add New Root</span>
      </a>
    </div>
  </div>
</div>
