<p class="menu-label mt-6">Registry Items</p>
<ul class="menu-list">
  <li>
    <a hx-get="/registry/quickies" hx-target=".dashboard" hx-push-url="true">
      Quickies <span class="tag is-info">{{ quickie_templates|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/prompts" hx-target=".dashboard" hx-push-url="true">
      Prompts <span class="tag is-info">{{ prompts|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/tools" hx-target=".dashboard" hx-push-url="true">
      Tools <span class="tag is-info">{{ tools|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/resources"
       hx-target=".dashboard"
       hx-push-url="true">
      Resources <span class="tag is-info">{{ resources|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/resource-templates"
       hx-target=".dashboard"
       hx-push-url="true">
      Resource Templates <span class="tag is-info">{{ resource_templates|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/schemas" hx-target=".dashboard" hx-push-url="true">
      Schemas <span class="tag is-info">{{ schemas|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/models" hx-target=".dashboard" hx-push-url="true">
      LLM Models <span class="tag is-info">{{ models|length }}</span>
    </a>
  </li>
  <li>
    <a hx-get="/registry/mcp-servers"
       hx-target=".dashboard"
       hx-push-url="true">
      MCP Servers <span class="tag is-info">{{ mcp_servers|length }}</span>
    </a>
  </li>
</ul>
