{% macro render_tag(tag, entity_id, entity_type) %}
<span class="tag is-info is-medium mr-2 mb-2">
    {{ tag.name }}
    <button class="delete is-small"
            type="button"
            hx-vals='{"entity_id": "{{ entity_id }}", "entity_type": "{{ entity_type }}", "tag_id": "{{ tag.id }}", "action": "remove"}'
            hx-post="/tags/entity"
            hx-target="#tag-entity-component-{{ entity_id }}"
            hx-swap="outerHTML"
            hx-ext="form-json"
            hx-indicator="#tag-entity-indicator-{{ entity_id }}">
    </button>
</span>
{% endmacro %}
