{% macro render_tree_node(node, default_open=True) %}
  {% if node.is_dir %}
    <li>
      <details {% if default_open %}open{% endif %}>
        <summary>{{ node.name }}</summary>
        <ul>
          {% for child_name, child_node in node.children.items()|sort %}{{ render_tree_node(child_node, False) }}{% endfor %}
        </ul>
      </details>
    </li>
  {% else %}
    <li>{{ node.name }}</li>
  {% endif %}
{% endmacro %}
