<!doctype html>
<html data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Flibberflow Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="/build/css/app.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="module" src="/build/js/app.js" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div hx-get="/components/navbar" hx-trigger="load">
      <nav class="navbar skeleton-block" role="navigation" aria-label="main navigation">
        <div class="skeleton-lines">
          <div></div>
          <div></div>
        </div>
      </nav>
    </div>
    
    <div class="columns is-gapless is-mobile main-layout">
      <div hx-get="/components/left-sidebar" hx-trigger="load">
        <div class="column is-narrow sidebar skeleton-block">
          <div class="skeleton-lines">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="column main-content">
        <section class="section">
          <div class="container">
            {% block content %}{% endblock %}
          </div>
        </section>
      </div>

      <div hx-get="/components/right-drawer" hx-trigger="load">
        <div class="column is-narrow sidebar right-drawer skeleton-block">
          <div class="skeleton-lines">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
