<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}BikeShed Dashboard{% endblock %}
    </title>
    <link rel="icon" href="/build/favicon.ico" sizes="any">
    <link rel="stylesheet" href="/build/css/app.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script type="module" src="/build/js/app.js" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body hx-ext="sse"
        sse-connect="/sse"
        sse-close="server_shutdown"
        class="is-overflow-hidden">
    <div class="dashboard-container">
      <!-- Header Section -->
      <header class="header">
        <nav class="navbar has-shadow"
             role="navigation"
             aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item text-weight-bold is-size-4" href="/">
              {% block branding %}BikeShed{% endblock %}
            </a>
          <span class="icon is-large"><i class="fas fas-2x fa-bicycle"></i></span>
          </div>
        <div class="navbar-divider"></div>
        <div class="navbar-content">
          <div class="navbar-item"
                 hx-get="/components/root-selector"
                 hx-trigger="load, sse:root.selected, sse:root.updated">
              <div class="buttons">
                <button class="button is-small">
                  <span class="icon"><i class="fas fa-folder"></i></span>
                  <span>Select Root</span>
                </button>
              </div>
            </div>
          <!-- Notification Section -->
          <div id="notification-area" class="navbar-notification"></div>
        </div>


          <div class="navbar-end">
            <div class="navbar-item"
                 hx-get="/components/navbar-notifications"
                 hx-trigger="load, sse:session_update, sse:notifications.update">
              {% include 'components/skeleton.html.j2' %}
            </div>
            <div class="navbar-item">
              <a class="theme-toggle" href="#">
                <span class="icon"><i class="fas fa-moon"></i></span>
                <span class="theme-text">Light Mode</span>
              </a>
            </div>
          </div>
        </nav>
      </header>
      <!-- Left Sidebar -->
      <aside class="sidebar p-2 is-flex is-flex-direction-column">
        <div class="sidebar-navigation"
             class="overflow-y-auto"
             hx-get="/components/left-sidebar"
             hx-trigger="load">{% include 'components/skeleton.html.j2' %}</div>
        <div class="sidebar-settings mt-auto"
             hx-get="/registry"
             hx-trigger="load, sse:registry.updated from:body"></div>
      </aside>
      <!-- Main Dash -->
      <main class="dashboard pt-2 px-2 is-flex is-flex-direction-column is-overflow-y-scroll is-overflow-x-clip">
      </main>
      <!-- Drawer -->
      <aside class="drawer-container p-2">
        <div class="drawer"
             hx-get="/components/drawer"
             hx-trigger="load, route.updated from:body">{% include 'components/skeleton.html.j2' %}</div>
      </aside>
    </div>

    <!-- Modal Container -->
    <div id="modal-container" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <!-- HTMX will load modal content here -->
      </div>
      <!-- Close button can be added here or within loaded content -->
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- End Modal Container -->

  </body>
</html>
