{% extends 'base.html.j2' %}

{% block title %}Flibberflow Dashboard{% endblock %}

{% block content %}
  <div hx-get="/components/chat" hx-trigger="load" class="is-fullwidth">

  </div>
{% endblock %}
