<!-- Left Sidebar -->

  <div>
      <aside class="menu">
        <p class="menu-label">Navigation</p>
        <ul class="menu-list">
          <li><a href="/session" hx-get="/session" hx-target="#dashboard" hx-push-url="true">Dashboard</a></li>
          <li><a href="#">Sessions</a></li>
          <li><a href="/settings" hx-get="/settings" hx-target="#dashboard" hx-push-url="true">Settings</a></li>
          <li><a href="/kitchen-sink" hx-get="/kitchen-sink" hx-target="#dashboard" hx-push-url="true">Kitchen Sink</a></li>
        </ul>
        <p class="menu-label">History</p>
        <ul class="menu-list">
          <li><a href="#">session 1</a></li>
          <li><a href="#">session 2</a></li>
          <li><a href="#">session 3</a></li>
        </ul>
      </aside>
  </div>
