<div class="navbar-brand">
    <a class="navbar-item text-weight-bold is-size-4" href="/">
        {% block branding %}Flibberflow{% endblock %}
    </a>
</div>
<div id="notification-area" class="navbar-notification">

</div>
<div class="navbar-end">
    <div class="navbar-item">
        <span class="icon ml-2">
            <i class="fas fa-bell"></i>
        </span>
        Processes
    </div>
    <div class="navbar-item">
        <a class="theme-toggle" href="#">
          <span class="icon">
            <i class="fas fa-moon"></i>
          </span>
          <span class="theme-text">Light Mode</span>
        </a>
    </div>
</div>
