<div class="navbar-brand">
    <a class="navbar-item text-weight-bold is-size-4">
        {% block branding %}Flibberflow{% endblock %}
    </a>
</div>
<div class="navbar-end">
    <div class="navbar-item">
        <span class="icon ml-2">
            <i class="fas fa-bell"></i>
        </span>
        Processes
    </div>
    <div class="navbar-item">
        <a class="theme-toggle">
          <span class="icon">
            <i class="fas fa-moon"></i>
          </span>
          Light Mode
        </a>
    </div>
</div>
