<!-- Navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <strong>Flibberflow</strong>
    </a>
    
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#">
        Dashboard
      </a>
      
      <a class="navbar-item" href="#">
        Chats
      </a>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        
        <div class="navbar-dropdown">
          <a class="navbar-item" href="#">
            Settings
          </a>
          <a class="navbar-item" href="#">
            Help
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="#">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="theme-toggle">
          <span class="icon">
            <i class="fas fa-moon"></i>
          </span>
          <span class="theme-text">Light Mode</span>
        </a>
      </div>
    </div>
  </div>
</nav>
