<!-- Right Drawer -->
  <div>
      <aside class="menu">
        <p class="menu-label">Navigation</p>
        <ul class="menu-list">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">sessions</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
        <p class="menu-label">History</p>
        <ul class="menu-list">
          <li><a href="#">session 1</a></li>
          <li><a href="#">session 2</a></li>
          <li><a href="#">session 3</a></li>
        </ul>
      </aside>
  </div>