<!-- Right Drawer -->
<div id="right-drawer" class="column is-narrow sidebar right-drawer">
  <div class="sidebar-content" style="float: right;">
      <aside class="menu">
          <p class="menu-label">
              Right Drawer
          </p>
      </aside>
  </div>
  <div class="sidebar-toggle" id="right-sidebar-toggle">
    <span>&gt;</span>
  </div>
</div>
