<!-- Right Drawer -->
  <div>
      <aside class="menu">
        <p class="menu-label">Navigation</p>
        <ul class="menu-list">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Chats</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
        <p class="menu-label">History</p>
        <ul class="menu-list">
          <li><a href="#">Chat 1</a></li>
          <li><a href="#">Chat 2</a></li>
          <li><a href="#">Chat 3</a></li>
        </ul>
      </aside>
  </div>