<!-- Workspace -->
<div id="dashboard-top" class="p-2">
  {% if session %}
    <div class="box mb-3">
      <h1 class="title">{{ session.summary or "Untitled Session" }}</h1>
      {% if session.goal %}
        <p class="subtitle">Goal: {{ session.goal }}</p>
      {% endif %}
        <div class="block">
            {{ session_workflow_svg | safe }}
            <p class="subtitle">Status: {{ session.status }}</p>
            <p class="subtitle">Status: {{ session.current_state }}</p>
        </div>

    </div>
  {% endif %}

  <div class="box p-0 mb-3 flex-grow-1">
    <div id="messages-container" class="messages">
      {% for message in messages %}
        <div class="message-container m-5">
          <div class="message-bubble p-3 {% if message.role == 'user' %}is-primary{% else %}is-light{% endif %} box">
            <div class="message-header">
              <strong>{{ message.role|title }}</strong>
            </div>
            <div class="message-content mt-2">
              {{ message.text | markdown2html | safe }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div id="dashboard-dock"
     hx-get="/components/session-form/{{ session.id }}"
     hx-trigger="load, sse:form_update from:body">
</div>
